<html lang="en">
<head>
     <title>About Us</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="main-content">
       {{>header}}

    <img src="./img/Image.png">

    <p>
        This is Sanjeev, I am a senior studying at NSIT graduating in May 2023, I have good android and DSA knowledge and currently working with
        <a href="https://gomechanic.in/bangalore"><b>Gomechanic</b></a> as an Android intern.
    </p>
      
    </div>
    {{>footer}}


</body>
</html>